starter/*/.idea
starter/*/obj
starter/*/temp
starter/*/Library
starter/*/Logs
starter/*/UserSettings
starter/*/*.csproj
starter/*/*.sln
starter/*/bin
**/node_modules
starter/Unity_2020_3/projects/*/assets
starter/Unity_2020_3/projects/**/generated
starter/*/projects/*/build.log
starter/**/projects/**/include/fonts
