@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html {
    height: -webkit-fill-available;
}

body {
    background-color: black;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    font-family: 'Roboto', sans-serif;
}


#main {
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    user-select: none;
    /* border: 1px solid red; */
}

needle-tiny {
    z-index: 1;
    margin: 0;
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
}

needle-tiny canvas {
    position: absolute;
}

/* important to enable pointer events on overlay content entries by default again
currently the overlay code does disable pointer events so that when adding content
the threejs dom still receives events */
needle-tiny .ar>*,
needle-tiny .vr>*,
needle-tiny .desktop>* {
    pointer-events: auto !important;
}

/* styles for default are close button */
needle-tiny .quit-ar {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 30%;
    min-height: 10%;
    background: none;
    border: none;
    font-size: 2em;
    color: gray;
    cursor: pointer;
    pointer-events: auto !important;
    z-index: 10;
}

needle-tiny .loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    color: white;
}

needle-tiny .webxr-buttons {
    position: absolute;
    /* border: red 2px solid; */
    bottom: 21px;
    left: 50%;
    transform: translate(-50%, 0%);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

needle-tiny .webxr-button:disabled {
    transform: none;
    opacity: 0.5 !important;
    /* display: none; */
}

/* presentation */
needle-tiny.presentation-mode .hide-in-presentation {
    display: none !important;
}