// https://v2.vuepress.vuejs.org/reference/default-theme/styles.html#style-file
:root {
  // brand colors
  --c-brand: #99CC33;
  --c-brand-light: #D7DB0A;
  --c-text-accent: #826aed;
    
    
  // code blocks vars
  --code-bg-color: #383838;
  --code-hl-bg-color: rgba(0, 0, 0, 0.5);
  --code-ln-color: #fff;
  --code-ln-wrapper-width: 2rem;
  
  --content-width: 850px;
  --homepage-width: 100%;

  --c-text-quote: rgb(130, 122, 165);
  --c-tip: #b5d935 !important;
  --c-details-bg: rgba(125,125,125,.05);
  // --c-bg-light: rgba(125,125,125,.12);
  
  // --c-bg-navbar: rgba(245, 245, 245, 1);

  .navbar-dropdown {
    box-shadow: 0 0 10px rgba(20, 20, 20, .2);
    border-radius: .7em;
  }
}

.sidebar-item-children .sidebar-item-children {
  opacity: .9;
  font-size: .92em !important;
  padding-bottom: .3em;
  border-left: .3em solid var(--c-text-accent);
  // background: linear-gradient(180deg,  rgba(179, 255, 0, 0) 0%, rgba(233, 222, 172, 0.1) 30%, rgba(235, 248, 217, 0.5) 99%, rgba(255,255,255,0) 100%);
}
.sidebar-item-children a {
  padding-top: .1em !important;
  padding-bottom: .1em !important;
  // white-space: nowrap;
}

// .sidebar-item-children a::before {
//   content: "•";
//   margin-left: -.7em;
//   color: rgba(0,0,0,.5);
// }

.sidebar-item-children .sidebar-item-children a::before {
  content: " ";
  // margin-left: -1.1em;
  margin-left: -.7em;
  color: rgba(0,0,0,.3);
}

.theme-container, blockquote {
  font-size: 1.1rem;
}
p, ul, ol {
  line-height: 1.5em;
}

code {
  border-radius: .4rem;
  background-color: rgba(180,180,180,.1) !important;
  // color: #666 !important;
  box-shadow: inset 0 0 10px rgba(150,150,150,.2) !important;
  border: 1px solid rgba(150,150,150,.3);
  padding: .1em .3em !important;
  font-size: .85rem;
}

pre code {
  background: none !important;
  box-shadow: none !important;
  border: none !important;
}

a code {
  color: var(--c-text-accent) !important;
}

::selection {
  color: #000;
  background: #a3d03d;
}

.search-box {
  --search-border-color: rgba(138, 125, 189, 0.5);
}


img {
  border-radius: .5em;
}



.tip {
  border-left-width: .25em !important;
  // border: 1px solid rgba(0,0,0,.5) !important;
  padding: .2em .2em .5em 2.4em !important;
  max-width: 700px;
}

details, .custom-container
{
  border-radius: 10px !important;
  border: 2px solid rgba(255,255,255,.05) !important;
  outline: 1px solid rgba(0,0,0,.2);
  box-shadow: inset 0 0 20px rgba(0,0,0,.05) !important;
  padding: 1em !important;
  margin: .5em 0 !important;
}

details summary {
  font-weight: bold !important;
}

details p {
  margin-top: .5em;
}

.custom-container p:not(:first) {
  margin: 0;
}

.custom-container-title {
  padding-bottom: .5em;
}


// details summary::-webkit-details-marker,
// details summary::marker {
//  display: none; 
//  content: "▶ ";
// }
// details[open] > summary::marker {
//   display: none;
//   content: "▼ ";
// }




table {
  // flex-direction: column;
  box-shadow: inset 0 0 40px rgba(100,100,100,.1) !important;
  // border: 1px solid rgba(100,100,100, .2) !important;
  border-radius: .5em;
  padding: .5em;
  padding-left: 1em;
  min-width: 100%;
}

@media screen and (min-width: 1700px) {
  table {
    min-width: 1000px;
  }
}

@media screen and (min-width: 1900px) {
  table {
    min-width: 1200px;
  }
}

td {
  width: 20%;
}

td:first-child {
  min-width: 10%;
}

td:last-child {
  width: 30%;
}

th {
  text-align: left;
}

tr, td, th {
  border: none !important;
  padding: 0 !important;
  padding-right: 1em !important;
  padding-top: .5em !important;
  padding-bottom: .8em !important;
}

tr, td, th {
  font-size: .9em !important;
  background: none !important;
}

tr {
  border-bottom: 1px solid rgba(155,155,155,.2) !important;
  display:table-row;
}

tr:last-child {
  border-bottom: none !important;
}

td {
  vertical-align: top;
}